* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-color: #f8f8f8;
    color: #2c2c2c;
    font-family: "Archivo", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-color: #2a3d67;
    background-size: cover;
    background-position: center;
    height: 100vh;   
}

.main-text-box {
    position: absolute;
    width: 1140px;
    padding-top: %;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%)
}

h1 {
    margin: 0px;
    margin-bottom: 10px;
    font-family:'Varela Round', sans-serif;
    color: #b0aaea;
    font-size: 230%;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.btn-main:link,
.btn-main:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #f686b4;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 200px;
    color: #2a3d67;
    transition: background-color 0.4s;
    
}

.btn-main:hover,
.btn-main:active {
    background-color: #f466c3;
}

nav {
    background-image: url(img/muj_header.png);
    background-size: cover;
    height: 12vh;
    position: relative;
    
}
.logo {
    height: 80px;
    width: auto;
    float: left;
    margin-top: 1.1%;
    margin-left: 8.2%;
}

.main-nav {
    float: right;
    list-style: none;
    margin-right: 8.2%
}

.main-nav li {
    display: inline-block;
    margin-top: 5.5%;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 5px 17px;
    color: rgba(255, 255, 255, 0.92);
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 130%;
    margin-left: 50px;
    border: 3px solid transparent;
    transition: 0.4s;
    
}

.main-nav li a:hover,
.main-nav li a:active {
    padding: 5px 20px;
    background-color: #2a3d67;
    color: #ff82d8;
    border: 3px solid #2a3d67;
    border-radius: 400px;
}

.logo-text {
    float: left;
    font-family: 'Archivo', sans-serif;
    font-size: 123%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.92);
    padding-top: 1.03%;
    padding-left: 0.7%;
}

.loginbox {
    float: right;
    display: inline-block;
    width: 370px;
    height: 450px;
    background-image:url(img/bglog_l.png);
    background-size: cover;
    color: #000;
    transform: translate(-50%, 50%);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 70px 30px;
    
    
}

.avatar {
    height: 110px;
    width: auto;
    border-radius: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 56px);
    border: 0px;
}

.loginbox h1 {
    margin: 0;
    font-size: 200%;
    text-transform: capitalize;
    padding: 0 0 40px;
    text-align: center;
}

.loginbox p {
    margin-bottom: 5px;;
    padding: 0 0 10px;;
    font-family: 'Varela Round', sans-serif;
    color: rgba(251, 234, 255, 0.92);
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
    border: 2px solid rgba(252, 248, 255, 0.9);
    border-radius: 2000px;
    background: transparent;
    font-family: 'Varela Round', sans-serif;
    outline: none;
    padding: 4px;
    height 40px;
    text-indent: 7px;
    color: #fff;
    font-size: 18px;
    
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 200px;
    font-size: 18px;
    border-radius: 20px;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 52px;
    margin-top: 36px;
    transition: 0.4s;
    color: #b868f2
}

.loginbox input[type="submit"]:link,
.loginbox input[type="submit"]:visited {
    color: #d281fc;
    background-color: rgba(255, 241, 255, 0.79);
    transition: background-color 0.3s, color 0.3s;
}

.loginbox input[type="submit"]:hover,
.loginbox input[type="submit"]:active {
    color: #662c80;
    background-color: rgba(228, 155, 250, 0.79);
}
    
    
.loginbox a {
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color: rgba(182, 131, 242, 0.83);
    cursor: pointer;
    
}

::placeholder {
    color: rgba(249, 238, 255, 0.44);
    
}

.input-login:link,
.input-login:visited {
    
}